services:
  scanner:
    image: scanner:latest
    container_name: scanner
    build: .
    environment:
      - OPENSEARCH_URL=${OPENSEARCH_URL}
      - OPENSEARCH_USER=${OPENSEARCH_USER}
      - OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD}
    #entrypoint: "./scanner-full.sh"
    configs:
      - source: targets_domain 
        target: /tmp/targets-domain.txt

    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: '2.5G'

          
configs:
  targets_domain:
    file: ${TARGET_FILE}

