services:
  scanner:
    image: scanner:latest
    container_name: scanner
    build: .
    environment:
      - OPENSEARCH_URL=${OPENSEARCH_URL}
      - OPENSEARCH_USER=${OPENSEARCH_USER}
      - OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD}
    configs:
      - source: targets_domain 
        target: /tmp/targets-domain.txt
      - source: targets_excluded 
        target: /tmp/excluded-hosts.txt
    deploy:
      resources:
        limits:
          cpus: '2.5'
          memory: '2.5G'
configs:
  targets_domain:
    file: ${TARGET_FILE}
  targets_excluded:
    file: ${EXCLUDED_HOSTS}
