services:
  scanner:
    image: scanner:latest
    container_name: scanner
    build: .
    environment:
      - OPENSEARCH_URL=${OPENSEARCH_URL}
      - OPENSEARCH_USER=${OPENSEARCH_USER}
      - OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD}
      - TARGET_FILE=${TARGET_FILE}
    volumes:
      - $PWD/data:/data
    #entrypoint: "nix-shell -p jq curl dnsx tlsx subfinder naabu nuclei nuclei-templates '<nixpkgs>' --run ./scanner-full.sh"
    entrypoint: "nix-shell -p jq curl dnsx tlsx subfinder naabu '<nixpkgs>' --run ./scanner-full.sh"
    configs:
      - source: targets_domain 
        target: /tmp/targets-domain.txt
      - source: resolver
        target: /tmp/resolvers-dns.txt
      - source: ports_exclude
        target: /tmp/ports-exclude.txt
      - source: hosts-exclude
        target: /tmp/hosts-exclude.txt

      - source: tlsx_cfg
        target: /root/.config/tlsx/config.yaml

      - source: dnsx_cfg
        target: /root/.config/dnsx/config.yaml

      - source: naabu_cfg
        target: /root/.config/naabu/config.yaml

      - source: subfinder_cfg
        target: /root/.config/subfinder/config.yaml
      - source: subfinder_provider
        target: /root/.config/subfinder/provider-config.yaml

      - source: nuclei_cfg
        target: /root/.config/nuclei/config.yaml
      - source: nuclei_reporting
        target: /root/.config/nuclei/reporting-config.yaml
      - source: nuclei_ignored
        target: /root/.config/nuclei/.nuclei-ignore

    deploy:
      resources:
        limits:
          cpus: '4'
          memory: '4G'

configs:
  targets_domain:
    file: ${TARGET_FILE:-./config/targets-domain.txt}
  hosts-exclude:
    file: ${HOSTS_EXCLUDE:-./config/hosts-exclude.txt.sample}

  resolver:
    file: ${RESOLVERS_DNS:-./config/resolvers-dns.txt.sample}

  port_list:
    file: ${PORTS_DEFAULT:-./config/ports-default.txt.sample}
  ports_exclude:
    file: ${PORTS_EXCLUDE:-./config/ports-exclude.txt.sample}

  tlsx_cfg:
    file: ${TLSX_CONFIG:-./config/tlsx-config.yaml.sample}

  dnsx_cfg:
    file: ${DNSX_CONFIG:-./config/dnsx-config.yaml.sample}

  naabu_cfg:
    file: ${NAABU_CONFIG:-./config/naabu-config.yaml.sample}

  nuclei_cfg:
    file: ${NUCLEI_CONFIG:-./config/nuclei-config.yaml.sample}
  nuclei_reporting:
    file: ${NUCLEI_REPORT:-./config/nuclei-reporting.yaml.sample}
  nuclei_ignored:
    file: ${NUCLEI_IGNORE:-./config/nuclei-ignored-templates.txt.sample}

  subfinder_cfg:
    file: ${SUBFINDER_CONFIG:-./config/subfinder-config.yaml.sample}
  subfinder_provider:
    file: ${SUBFINDER_PROVIDER:-./config/subfinder-provider.yaml.sample}