services:
  scanner:
    image: scanner:latest
    container_name: scanner
    build: .
    environment:
      - OPENSEARCH_URL=${OPENSEARCH_URL}
      - OPENSEARCH_USER=${OPENSEARCH_USER}
      - OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD}
    #volumes:
    #  - $PWD/../../nuclei-templates:/tmp/nuclei-templates:ro
    entrypoint: "./scanner-full.sh"
    configs:
      - source: targets_domain 
        target: /tmp/targets-domain.txt
      - source: resolver
        target: /tmp/resolvers-dns.txt
      - source: ports_file
        target: /tmp/portlist.txt
      - source: hosts-exclude
        target: /tmp/hosts-exclude.txt

      - source: tlsx_cfg
        target: /root/.config/tlsx/config.yaml

      - source: dnsx_cfg
        target: /root/.config/dnsx/config.yaml

      - source: naabu_cfg
        target: /root/.config/naabu/config.yaml

      - source: subfinder_cfg
        target: /root/.config/subfinder/config.yaml
      - source: subfinder_provider
        target: /root/.config/subfinder/provider-config.yaml

      - source: nuclei_cfg
        target: /root/.config/nuclei/config.yaml
      - source: nuclei_reporting
        target: /root/.config/nuclei/reporting-config.yaml
      - source: nuclei_ignored
        target: /root/.config/nuclei/.nuclei-ignore

    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: '2.5G'


configs:
  targets_domain:
    file: ${TARGET_FILE:-./config/targets-domain.txt.sample}
  hosts-exclude:
    file: ${HOSTS_EXCLUDE:-./config/hosts-exclude.txt.sample}

  resolver:
    file: ${RESOLVERS_DNS:-./config/resolvers-dns.txt.sample}

  ports_file:
    file: ${PORTS_FILE:-./config/ports-default.txt.sample}

  tlsx_cfg:
    file: ${TLSX_CONFIG:-./config/tlsx-config.yaml.sample}

  dnsx_cfg:
    file: ${DNSX_CONFIG:-./config/dnsx-config.yaml.sample}

  naabu_cfg:
    file: ${NAABU_CONFIG:-./config/naabu-config.yaml.sample}

  nuclei_cfg:
    file: ${NUCLEI_CONFIG:-./config/nuclei-config.yaml.sample}
  nuclei_reporting:
    file: ${NUCLEI_REPORT:-./config/nuclei-reporting.yaml.sample}
  nuclei_ignored:
    file: ${NUCLEI_IGNORE:-./config/nuclei-ignored-templates.txt.sample}

  subfinder_cfg:
    file: ${SUBFINDER_CONFIG:-./config/subfinder-config.yaml.sample}
  subfinder_provider:
    file: ${SUBFINDER_PROVIDER:-./config/subfinder-provider.yaml.sample}
