services:
  scanner:
    image: scanner:latest
    container_name: scanner
    build: .
    environment:
      - OPENSEARCH_URL=${OPENSEARCH_URL}
      - OPENSEARCH_USER=${OPENSEARCH_USER}
      - OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD}
    volumes:
      - $PWD/data:/data
    configs:
      - source: targets_domain
        target: /tmp/targets-domain.txt
      - source: resolver
        target: /tmp/resolvers-dns.txt
      - source: ports_exclude
        target: /tmp/ports-exclude.txt
      #- source: hosts-exclude
      #  target: /tmp/hosts-exclude.txt

      - source: tlsx_cfg
        target: /root/.config/tlsx/config.yaml

      - source: dnsx_cfg
        target: /root/.config/dnsx/config.yaml

      - source: subfinder_cfg
        target: /root/.config/subfinder/config.yaml
      - source: subfinder_provider
        target: /root/.config/subfinder/provider-config.yaml

      - source: nuclei_cfg
        target: /root/.config/nuclei/config.yaml
      - source: nuclei_reporting
        target: /root/.config/nuclei/reporting-config.yaml
      - source: nuclei_ignored
        target: /root/.config/nuclei/.nuclei-ignore

    deploy:
      resources:
        limits:
          cpus: '4'
          memory: '4G'


configs:
  targets_domain:
    file: ./config/targets-domain.txt
  resolver:
    file: ./config/resolvers-dns.txt
  hosts-exclude:
    file: ./config/hosts-exclude.txt

  port_list:
    file: ./config/ports-default.txt
  ports_exclude:
    file: ./config/ports-exclude.txt

  tlsx_cfg:
    file: ./config/tlsx-config.yaml

  dnsx_cfg:
    file: ./config/dnsx-config.yaml

  naabu_cfg:
    file: ./config/naabu-config.yaml

  nuclei_cfg:
    file: ./config/nuclei-config.yaml
  nuclei_reporting:
    file: ./config/nuclei-reporting.yaml
  nuclei_ignored:
    file: ./config/nuclei-ignored-templates.txt

  subfinder_cfg:
    file: ./config/subfinder-config.yaml
  subfinder_provider:
    file: ./config/subfinder-provider.yaml
