OPENSEARCH_URL="https://localhost:9200"
OPENSEARCH_USER="CHANGEME"
OPENSEARCH_PASSWORD="CHANGEME"

TARGET_FILE=./config/targets-domain.txt.sample
HOSTS_EXCLUDE=./config/hosts-exclude.txt.sample

RESOLVERS_DNS=./config/resolvers-dns.txt.sample

PORTS_DEFAULT=./config/ports-default.txt.sample
PORTS_EXCLUDE=./config/ports-exclude.txt.sample

TLSX_CONFIG=./config/tlsx-config.yaml.sample
DNSX_CONFIG=./config/dnsx-config.yaml.sample
NAABU_CONFIG=./config/naabu-config.yaml.sample

NUCLEI_CONFIG=./config/nuclei-config.yaml.sample
NUCLEI_REPORT=./config/nuclei-reporting.yaml.sample
NUCLEI_IGNORE=./config/nuclei-ignored-templates.txt.sample

SUBFINDER_CONFIG=./config/subfinder-config.yaml.sample
SUBFINDER_PROVIDER=./config/subfinder-provider.yaml.sample
