OPENSEARCH_URL=https://opensearch:9200
OPENSEARCH_USER=CHANGEME
OPENSEARCH_PASSWORD=CHANGEME

TARGET_FILE=./config/targets-domain.txt.sample
HOSTS_EXCLUDE=./config/hosts-exclude.txt.sample

NUCLEI_REPORT=./config/nuclei-reporting.yaml.sample
SUBFINDER_PROVIDER=./config/subfinder-provider.yaml.sample
