list: "/tmp/targets.txt"

a: true
aaaa: true
cname: true
ns: true
txt: true
srv: true
ptr: true
mx: true
soa: true

axfr: true
caa: true

# display dns response
resp: false

# display dns response only
#resp-only: false

# filter result by dns status code (eg. -rcode noerror,servfail,refused)
#rcode: 

# display cdn name
cdn: true

# display host asn information
asn: true

threads: 400
rate-limit: 2000

disable-update-check: true

output: "/data/OUTPUT-dnsx.jsonl"
json: true

# omit raw dns response from jsonl output
or: true

health-check: false
silent: false
verbose: false
debug: false
stats: false
version: false
retry: 3
hostsfile: false
trace: false
resume: false
resolver: "/tmp/resolvers-dns.txt"
wildcard-threshold: 25
