list: "/tmp/targets.txt"

sources: ["alienvault", "anubis", "c99", "commoncrawl", "crtsh", "digitorus", "dnsdumpster", "hackertarget", "hudsonrock", "intelx", "rapiddns", "shodan", "sitedossier", "threatcrowd", "waybackarchive", "virustotal"]

recursive: true
all: false

rate-limit: 3000
t: 500
disable-update-check: true
output: "/data/OUTPUT-subfinder.jsonl"
json: true

ip: false

rlist: "/tmp/resolvers-dns.txt"

active: true
silent: false

version: false
v: false
timeout: 5

collect-sources: true
